<header>
  <ul>
    <li class="home_logo">
      <a href="/"><div class="h_logo"></div></a>
    </li>
    <li>
      <a href="https://github.com/ellyhat"><div class="f_1"></div> </a>
    </li>

    <li>
      <a href="https://github.com/Jane-Kotovich"><div class="f_2"></div></a>
    </li>
  </ul>
</header>
