<header>
  <ul>
    <li class="header_logo">
      <a href="/"><img src="static/images/P.png" /></a>
    </li>
    <li class="face f_1">
      <a href="https://github.com/ellyhat"><img src="static/images/E.png" /></a
      >Elle
    </li>
    <li class="face f_2">
      <a href="https://github.com/Jane-Kotovich"
        ><img src="static/images/J.png" /></a
      >Jane
    </li>
  </ul>
</header>
