@font-face {
  font-family: signika;
  src: url("fonts/Signika-Medium.ttf");
}
body {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  font-family: signika;
  color: #2f3542;
  text-align: center;
  background-image: url("./img.jpg");
}
header {
  margin: 0;
  padding: 0;
  align-items: center;
  background-color: #f9dfb1;
  height: 10vh;
}
header > ul {
  display: flex;
  margin: 0 1em;
  padding: 0.5em 0 0 0.5em;
  align-items: center;
}

header > ul > .home_logo {
  margin-right: auto;
}
header > ul > li > a > div {
  padding: 0.5em;
  width: 4vw;
  height: 4vh;
}

.h_logo {
  background-image: url("./P.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header > ul > li > a > .f_1,
header > ul > li > a > .f_2 {
  padding: 0.5em;
  width: 6vw;
  height: 6vh;
}
li > a > .f_1 {
  background-image: url("./E.png");
  background-position: center;

  background-repeat: no-repeat;
  background-size: contain;
}
li > a > .f_2 {
  background-image: url("./J.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

header > ul > li:not(:last-child):not(:first-child) {
  margin-right: 0.5em;
}

body {
  background-color: #f4f4f4;
}
footer {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 20px;
  align-items: center;
  background-color: #ff6b81;
}
.wrapper {
  flex: 1 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  padding: 2em;
  width: 40vw;
  background-color: #f4e3e3;
  border-radius: 5px;
  box-shadow: 0 8px 6px -2px #f2d0d0;
  text-transform: uppercase;
}
label {
  padding: 0.7em;
  text-align: center;
}
input {
  display: inline-block;
  width: 30vw;
  height: 1.5vh;
  margin: 0 auto;
  padding: 1em;
  border-color: #f2d0d0;
  border-radius: 5px;
  text-align: center;
  outline-color: #fdcb6e;
}

.button {
  display: inline-block;
  margin: 1.5em auto;
  padding: 1.3em 2em;
  border: none;
  background-color: #ff6b81;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 22vw;
  box-shadow: 0 8px 6px -6px #6a7b8b;
  line-height: 0.5em;
  text-transform: uppercase;
}
.welcome_btn {
  display: inline-block;
  margin: 0.2em 1em 1.5em;
  padding: 1.3em 2em;
  border-radius: 5px;
  width: 25vw;
  border-color: white;
  box-shadow: 0 8px 6px -6px #6a7b8b;
  line-height: 0.5em;
  background-color: white;
}
.logout_btn {
  display: inline-block;
  margin: 1.5em 1em 1.5em;
  padding: 1.3em 2em;
  border-radius: 5px;
  width: 25vw;
  border-color: #f9dfb1;
  box-shadow: 0 8px 6px -6px #6a7b8b;
  line-height: 0.5em;
  background-color: #f9dfb1;
}
.delete_btn_frm {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 7vw;
}
.delete_btn_frm > input {
  width: 7vw;
  padding: 1em;
  background-color: #ff6b81;
  border-radius: 5px;
  color: white;
  outline-color: #fdcb6e;
  line-height: 0.4em;
  font-family: signika;
  box-shadow: 0 8px 6px -6px #6a7b8b;
}

.welcome_btn > a,
.logout_btn > a {
  font-size: 2.3em;
  text-decoration: none;
  font-style: none;
  text-transform: uppercase;
  text-shadow: 4px 4px #f2d0d0;
}
button {
  display: inline-block;
  margin: 1.5em auto;
  padding: 1.3em 2em;
  font-weight: 600;
  border-radius: 5px;
  width: 22vw;
  border-color: white;
  box-shadow: 0 8px 6px -6px #6a7b8b;
  line-height: 0.5em;
  background-color: white;
  text-transform: uppercase;
  outline-color: #fdcb6e;
}
select {
  display: inline-block;
  margin: 1.5em auto;
  padding: 1em 1.5em;
  border-radius: 5px;
  border-color: white;
  color: #ff6b81;
  box-shadow: 0 8px 6px -6px #6a7b8b;
  line-height: 0.5em;
  background-color: white;
  text-transform: uppercase;
  outline-color: #fdcb6e;
}
a {
  color: #ff6b81;
}
.users_all {
  display: block;
  width: 60vw;
  margin: 0 auto;
  background-color: #f4e3e3;
  border-radius: 5px;
  box-shadow: 0 8px 6px -2px #f2d0d0;
}
ul {
  list-style-type: none;
  line-height: 2em;
}
.welcome {
  display: block;
  margin: 2em auto;
  width: 60vw;
  background-color: #f4e3e3;
  line-height: 3em;
  border-radius: 5px;
  box-shadow: 0 8px 6px -2px #f2d0d0;
  font-size: 1.3em;
}
.welcome > img {
  width: 57vw;
  height: 50vh;
  object-fit: contain;
}
table {
  display: block;
  background-color: #f4e3e3;
  border-spacing: 1em;
  margin: 0 auto;
  width: 40vw;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px white;
}
.alert-warning {
  display: block;
  background-color: #ff6b81;
  color: white;
  padding: 1em;
  padding: 0;
}
.close {
  border-radius: 2px;
  width: auto;
  border-color: white;
  box-shadow: 0 8px 6px -6px #6a7b8b;
  padding: 0.1em;
  color: #ff6b81;
  background-color: white;
  text-transform: uppercase;
  outline-color: red;
}
